<ul>
    <li class="facebook">
      <a href="http://www.facebook.com/run4fun.fr" target="_blank">Facebook</a>
    </li>
    <li class="twitter">
      <a href="http://www.twitter.com/Run4Fun_fr" target="_blank">twitter</a>
    </li>
</ul>
