{% extends "r4fRunnerBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block r4fSite_body %}

	<h2>HomePage</h2>

		<img src="{{ asset('images/1_Index.png') }}"/> 


{% endblock %}