{% extends "r4fUserBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block r4fUser_body %}

	<h2>HomePage</h2>

		<img src="{{ asset('images/1_Index.png') }}"/> 


{% endblock %}